$bg-color: #f0f2f5;
$card-light-bg: #ffffff;
$card-dark-bg: #0f1530;

$card-light-text: #111;
$card-dark-text: #000;
$text-light: #666;

$btn-yellow: #e8ae02;
$btn-blue: #00b8ff;

$base-font-size: 14px;